<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>

<body>
    <h1>Olá, <span id="usuarioNome"></span>!</h1>

    <button onclick="verMeusItens()">Ver Meus Itens</button>
    <button onclick="logout()">Sair</button>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const nome = localStorage.getItem('userNome');

            if (!nome) {
                window.location.href = 'login.html';
                return;
            }

            document.getElementById('usuarioNome').textContent = nome;
        });

        function verMeusItens() {
            window.location.href = 'meusItens.html';
        }

        function logout() {
            localStorage.removeItem('token');
            localStorage.removeItem('userNome');
            window.location.href = 'login.html';
        }
    </script>
</body>

</html>
